configuration {
  modi: "drun,run,window";
  show-icons: true;
  display-drun: "Apps";
  display-run: "Run";
  display-filebrowser: "Files";
  display-window: "Windows";
  drun-display-format: "{name}";
}

@import "colors.rasi"

window {
  width: 40%;
  height: 55%;
  location: center;
  border: 2px;
  border-color: @border-color;
  border-radius: @radius;
  background-color: @background-color;
}

mainbox {
  children: [ "inputbar", "mode-switcher", "listview" ];
  padding: @padding;
  spacing: 10px;
  background-color: transparent;
}

inputbar {
  children: [ "prompt", "entry" ];
  background-color: @background-alt;
  border-radius: @radius;
  padding: @padding;
  spacing: 10px;
}

prompt {
  enabled: true;
  text-color: @foreground;
}

entry {
  expand: true;
  placeholder: "Search…";
  placeholder-color: @foreground;
  text-color: @foreground;
  background-color: transparent;
}

mode-switcher {
  spacing: 10px;
  background-color: transparent;
}

button {
  padding: 6px 16px;
  border-radius: @radius;
  background-color: @background-alt;
  text-color: @foreground;
  cursor: pointer;
}

button selected {
  background-color: @selected;
  text-color: @primary;
}

listview {
  columns: 1;
  lines: 8;
  cycle: true;
  spacing: 4px;
  padding: 0px;
  background-color: transparent;
  scrollbar: false;
}

element {
  padding: 8px;
  spacing: 10px;
  border-radius: @radius;
  cursor: pointer;
}

element normal.normal,
element alternate.normal {
  background-color: @background-alt;
  text-color: @foreground;
}

element-text selected,
element selected.normal {
  background-color: @selected;
  text-color: @primary;
}

element-icon {
  size: 28px;
  cursor: inherit;
}

element-text {
  text-color: @foreground;
  vertical-align: 0.5;
  cursor: inherit;
}
