configuration {
  show-icons: false;
}

@import "colors.rasi"

window {
  width: 30%;
  location: center;
  border: 2px;
  border-color: @border-color;
  border-radius: 12px;
  background-color: @background-color;
}

mainbox {
  children: [ "inputbar" ];
  padding: 10px;
  background-color: transparent;
}

inputbar {
  children: [ "prompt", "entry" ];
  background-color: @background-alt;
  border-radius: 12px;
  padding: 10px;
  spacing: 10px;
}

prompt {
  enabled: true;
  text-color: @foreground;
}

entry {
  expand: true;
  placeholder: "Search the web…";
  placeholder-color: @foreground;
  text-color: @foreground;
  background-color: transparent;
}
