
configuration {
  modi: "drun";
  show-icons: true;
}

@import "colors.rasi"

window {
  width: 75%;
  height: inherit;
  location: center;
  border: 2px;
  border-color: @border-color;
  border-radius: @radius;
  background-color: @background-color;
}

mainbox {
  children: [ "inputbar", "listview" ];
  padding: @padding;
  background-color: transparent;
}

inputbar {
  children: [ "entry" ];
  background-color: @background-alt;
  border-radius: @radius;
  padding: @padding;
  margin: 0px 0px 10px 0px;
}

entry {
  expand: true;
  placeholder: "Search / Choose Wallpaper";
  placeholder-color: @foreground;
  text-color: @foreground;
  horizontal-align: 0.5;
  background-color: transparent;
}

listview {
  columns: 6;
  lines: 2;
  flow: horizontal;
  fixed-width: true;
  fixed-height: true;
  cycle: true;
  spacing: 20px;
  padding: @padding;
  background-color: transparent;
}

element {
  orientation: vertical;
  padding: 0px;
  margin: 0px;
  spacing: 0px;
  border-radius: @radius;
  cursor: pointer;
}

element normal.normal,
element alternate.normal {
  background-color: @background-alt;
}

element-text selected,
element selected.normal {
  background-color: @selected;
  text-color: @primary;
}

element-icon {
  size: 10%;
  margin: -30px;
  cursor: inherit;
}

element-text {
  vertical-align: 0.5;
  horizontal-align: 0.5;
  padding: 6px;
  margin: 6px;
  text-color: @foreground;
}
